/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 oct. 2016, 16:11:45
    Author     : admin
*/

body{
    background: url("/echec/IMAGE/chess_fond.jpg");
    text-align: center;
    margin: auto;
}

table{
    margin : auto;
}
